
<div class="panel panel-default" *ngIf=avis>
  <div class="panel-heading">Detail avis d'un utilisateur</div>
  <div class="panel-body">
      <form class="form-horizontal" >
        <div class="form-group">
          <label for="utilisateur.nom" class="col-sm-2 control-label">Nom d'utilisateur : </label>
          <div class="col-sm-9">
            <p class="form-control">{{avis.nom}}</p> 
          </div>
        </div>
        <div class="form-group">
          <label for="endroit.ville" class="col-sm-2 control-label">Adresse d'utilisateur : </label>
          <div class="col-sm-9">
          <p class="form-control">{{avis.ville}}</p>
          </div>
        </div>
        <div class="form-group">
          <label for="note" class="col-sm-2 control-label">Notation : </label>
          <div class="col-sm-9">
          <p class="form-control">{{avis.note}}</p>
          </div>
        </div>
        <div class="form-group">
          <label for="commentaire" class="col-sm-2 control-label">Commentaire : </label>
          <div class="col-sm-9">
            <p class="form-control">{{avis.commentaire}}</p>
          </div>
        </div>
        <div class="form-group">
          <label for="id" class="col-sm-2 control-label">ID Avis : </label>
          <div class="col-sm-9">
            <p class="form-control">{{avis.avis_id}}</p>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8">
             <a  class="btn btn-info" (click)="goBack()">Annuler</a>
          </div>
        </div>
    </form>
  </div>
</div>